.message-content{
    padding-bottom: 4rem;
    height: 100%;
    width: 100%;
    font-size: 14px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.message-content::-webkit-scrollbar {
    display: none;
}

.message-tile {
    border: 1px solid rgb(231, 223, 223);
    box-shadow: 0 0 14px #a8b3bf;
    width: 90%;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}

.message-tile p {
    margin: 0;
}

.message-avatar{
    font-size: 14px;
}

.message-avatar b{
    padding: 5px;
}

.message-avatar img{
    width: 3rem;
    border: 1px solid #a8b3bf;
    padding: 5px;
    border-radius: 50%;
}

.chatbot-avatar{
    text-align: left;
}

.user-avatar{
    text-align: right;
}

.message-content-bot {
    font-size: 14px;
    text-align: left;
    width: 100%;
}

.message-content-user{
    font-size: 14px;
    text-align: right;
    width: 100%;
}

.message-option-subject{
    font-size: 14px;
}
